body{
    width: 100%;
    text-align: center;
    background-color: aqua;
}

input{
    width: 8%;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
}
#button{
    width: 10%;
    border-radius: 5px;
    padding: 10px;

}

#result{
    width: 50%;
    height: 10%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    /*background-color: white;*/

}
table tr td{
    text-align: center;
    /*background-color: white;*/
    border: 1px black;
    width: 15%;
    padding: 10px;
    margin-left: 10%;
}
